Source: prpn
Section: unknown
Priority: extra
Maintainer: Sébastien Millet <sebastien.millet1@club-internet.fr>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/prpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/prpn.git;a=summary

Package: prpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
