Source: prpn
Section: utils
Priority: extra
Maintainer: Sébastien Millet <sebastien.millet1@club-internet.fr>
Build-Depends: debhelper (>= 7), autotools-dev, libc6-dev, libglib2.0-0, libcroco3, mime-support, locales, gettext, libc6, libxml2, libwxgtk2.8-dev, gawk
Standards-Version: 3.8.0
Homepage: http://prpn.origo.ethz.ch

Package: prpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Reverse Polish Notation calculator
 pRPN is an RPN calculator based on WxWidgets for the GUI, that provides the
 following objects: Reals, Complex, Vectors, Matrices, Binaries, Lists,
 Expressions, Strings and Programs.
 pRPN also provides a terminal interface, to be used interactively or for
 batch processing.
